.locale-select{appearance:none;color:#0000;border:none;border-radius:100000px;width:2rem;height:2rem;display:block}.locale-select:focus-visible{outline:2px solid var(--input-focus-border-color)}option{color:#000}
